*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/bakApk
/release
workspace.xml
app.iml
common.iml
module_found.iml
module_home.iml
module_login.iml
module_my_assets.iml
module_product.iml


