<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maoliicai.module_found">

    <application
        android:theme="@style/AppTheme"
        >
        <activity android:name="debug.FoundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>
