<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maoliicai.common">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <!--热修复 权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <!--个推所使用的权限-->
    <!-- iBeancon功能所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application>

        <!--getui  推送   显示的活动-->
        <service
            android:name="com.maoliicai.common.getuipush.DemoPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice">
        </service>

        <service
            android:name=".getuipush.DemoIntentService"
            />

        <activity android:name=".getuipush.GetUiPushActivity" />

    </application>

</manifest>
